<manifest package="com.kirchhoff.viewpagerwithoutfragment"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application>
        <activity
            android:name=".VPWithoutFragmentActivity"
            android:label="@string/vp_without_fragment_title" />
	</application>

</manifest>
