<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.showmoretextview">

  <application>
    <activity
      android:name=".ShowMoreTextViewActivity"
      android:label="@string/show_more_text_view_title" />
  </application>
</manifest>
