<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bidirectionviewpager">

    <application>
        <activity
            android:name=".BiDirectionViewPagerActivity"
            android:label="@string/bidirectionviewpager_title" />
    </application>
</manifest>