<manifest package="com.kirchhoff.coordinatebehavior"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application>
        <activity
            android:name=".CoordinatorBehaviorActivity"
            android:label="@string/coordinator_layout_behavior_title" />
	</application>

</manifest>
