<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kirchhoff.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.recycler.swipe.RecyclerCustomSwipeActivity"
            android:label="@string/custom.recycler.swipe" />

        <activity
            android:name=".ui.recycler.toolbar.RecyclerCollapsingToolbarActivity"
            android:label="@string/recycler.collapsing.title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.recycler.diffutil.ex1.DiffUtilActivity"
            android:label="@string/diff.util.title" />

        <activity
            android:name=".ui.view.ViewActivity"
            android:label="@string/view.title" />

        <activity
            android:name=".ui.recycler.diffutil.ex2.ThingDiffUtilActivity"
            android:label="@string/diff.util.title" />

        <activity
            android:name=".ui.recycler.testable.TestableRecyclerViewActivity"
            android:label="@string/testable.recycler.view" />

    </application>

</manifest>