<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kirchhoff.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.recycler.search.RecyclerSearchActivity"
            android:label="@string/recyclerview.with.search"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.databinding.DataBindingActivity"
            android:label="@string/data.binding" />

        <activity
            android:name=".ui.fab.FabAnimationActivity"
            android:label="@string/fab.animation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.recycler.swipe.RecyclerCustomSwipeActivity"
            android:label="@string/custom.recycler.swipe" />

        <activity
            android:name=".ui.recycler.toolbar.RecyclerCollapsingToolbarActivity"
            android:label="@string/recycler.collapsing.title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.viewpager.VPWithoutFragmentActivity"
            android:label="@string/vp.without.fragment.title" />

        <activity
            android:name=".ui.drawer.delegation.NavigationDrawerActivity"
            android:label="@string/drawer.title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.drawer.simple.SimpleActivity"
            android:label="@string/drawer.title" />

        <activity
            android:name=".ui.recycler.diffutil.DiffUtilActivity"
            android:label="@string/diff.util.title" />

        <activity
            android:name=".ui.tinder.TinderActivity"
            android:label="@string/tinder.title" />

        <activity
            android:name=".ui.view.ViewActivity"
            android:label="@string/view.title" />

        <activity
            android:name=".ui.other.CountdownLabelActivity"
            android:label="@string/countdown.label.title" />

        <activity
            android:name=".ui.other.CustomActionBarActivity"
            android:label="@string/custom.actionbar.title"
            android:theme="@style/CustomActionBarTheme" />

        <activity
            android:name=".ui.animation.SimpleTransitionActivity"
            android:label="@string/simple.transition.title"
            android:theme="@style/AppTheme.TransitionAnimation" />

        <activity
            android:name=".ui.animation.SimpleTransitionDetailsActivity"
            android:label="@string/simple.transition.details.title"
            android:theme="@style/AppTheme.TransitionAnimation" />

        <activity
            android:name=".ui.other.CoordinatorBehaviorActivity"
            android:label="@string/coordinator.layout.behavior.title" />

    </application>

</manifest>