<manifest package="com.kirchhoff.simpletransition"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application>

		<activity
			android:name=".SimpleTransitionActivity"
			android:label="@string/simple_transition_title"
			android:theme="@style/SimpleTransitionTheme" />

		<activity
			android:name=".SimpleTransitionDetailsActivity"
			android:label="@string/simple_transition_details_title"
			android:theme="@style/SimpleTransitionTheme" />

	</application>

</manifest>
