<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirchhoff.curvedbottombar">

    <application>
        <activity
            android:name=".CurvedBottomBarActivity"
            android:label="@string/curved_bottombar_title" />
    </application>

</manifest>